.my-main-img{
    border-radius: 5px;
}

.my-main-list-span{
    font-size: 17px;
}

.my-main-list-p{
    color: #4b5258;
    font-size: 13px;
    margin-top: 10px;
    line-height: 30px;
}









.my-main-list-btn{
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}