@import "./responsize.scss";
@import "./sidebar.scss";
@import "./navbar.scss";
@import "./header.scss";
@import "./description.scss";
@import "./video.scss";
@import "./services.scss";
@import "./projects.scss";
@import "./employment.scss";

//BODY//

@font-face {
    font-family: "yekan";
    src: url(../font/iranyekanwebbold.ttf);
}

body{
    font-family: yekan;
    margin: 0px;
}

*{
    direction: rtl;
    box-sizing: border-box;
}

//BODY//