

.my-project-img{
    background-color: black;
    border-radius: 5px;
    padding: 4px;
    width: 100px;
    height: 15vh;
}

.my-project-circles{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1px;
}

.my-project-circle-blue{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin:  2px;
    background-color: #2dd6b8;
}

.my-project-circle-yellwo{
    @extend .my-project-circle-blue;
    background-color: #e4911f;
}

.my-project-circle-red{
    @extend .my-project-circle-blue;
    background-color: #ff4757;
}


.my-project-img-btn{
    display: inline-block;
    position: relative;
    top: -60px;
    right: 70px;
    background-color: white;
    border-radius: 50%;
    
}



.my-icon-1{
    border: 2px solid rgb(255 , 177 , 71);
    color: #e4911f;
    border-radius: 50%;
    padding: 7px 9px;
    text-align: center;
    margin: 5px;
    
}


.my-icon-2{
    border: 2px solid rgb(65 ,96 , 245);
    color: #4160f5;
    border-radius: 50%;
    padding: 7px 9px;
    text-align: center;
    margin: 5px;
    
}

.my-icon-3{
    border: 2px solid rgb(140, 74,255);
    color: #8c4aff;
    border-radius: 50%;
    padding: 7px 9px;
    text-align: center;
    margin: 5px;
    
}

.my-icon-4{
    border: 2px solid rgb(45, 214, 184);
    color: #2dd6b8;
    border-radius: 50%;
    padding: 7px 9px;
    text-align: center;
    margin: 5px;
    
}

.my-project-span{
    margin-top: 20px;
}

.my-project-p{
    margin-top: 20px;
    font-size: 13px;
    line-height: 30px;
}