@mixin cardBtn{
    display: inline;
    padding: 15px;
    border-radius: 10px;
}

.my-card{
    border: 1px solid #e3e7ee;
    width: 100%;
    height: 45vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    transition: all 0.5s;
}



.my-card-icon1{
    color: #ffb147;
    background-color: rgba(255, 177 ,71, 0.05);
    @include cardBtn();

}

.my-card-icon2{
    color: #ff4757;
    background-color: rgba(255, 71, 87, 0.05);
    @include cardBtn();
}

.my-card-icon3{
    color: #4160f5;
    background-color: rgba(65, 96, 245, 0.05);
    @include cardBtn();
}

.my-card-icon4{
    color: #8c4aff;
    background-color: rgba(140, 74, 255, 0.05);
    @include cardBtn();
}

.my-card-icon5{
    color: #2dd6b8;
    background-color: rgba(45, 214, 184, 0.05);
    @include cardBtn();
}

.my-card-icon6{
    color: #2d77e8;
    background-color: rgba(45, 119, 232, 0.05);
    @include cardBtn();
}

.my-card-icon7{
    color: #29cd77;
    background-color: rgba(41, 205 , 119, 0.05);
    @include cardBtn();
}

.my-card-icon8{
    color: #f29044;
    background-color: rgba(242, 144, 68, 0.05);
    @include cardBtn();
}

.my-card-icon9{
    color: #a97548;
    background-color: rgba(169, 117, 72, 0.05);
    @include cardBtn();
}

.my-card-icon10{
    color: #e0ba01;
    background-color: rgba(224, 186, 1, 0.05);
    @include cardBtn();
}

.my-card-icon11{
    color: #22aeff;
    background-color: rgba(34,174, 225, 0.05);
    @include cardBtn();
}

.my-card-icon12{
    color: #ff3ad8;
    background-color: rgba(255, 58, 216, 0.05);
    @include cardBtn();
}

.my-card-text{
    font-size: 13px;
}

.my-card-btn{
    background-color: #edf1f7;
    border-radius: 5px;
    border: none;
    padding: 15px 0px;
    font-size: 12px;
    transition: all 0.7s;
}

.my-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);

    .my-card-btn{
        background-color: #e4911f;
        color: white;
    }
}

.my-end-btn{
    background-color: #e4911f;
    display: block;
    width: 100%;
    border: none;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 5px;
    color: white;
}

.my-end-banner{
    background-color:  #4160f5;
    // background-image:url(../img/Pattern-PNG-Transparent.png),;
    margin-top: 30px;
    border-radius: 5px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.my-end-banner-btn{
    background-color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

.my-end-banner-btn-span{
    font-size: 20px;
    color: #4160f5;
    margin-left: 20px;
    margin-right: 10px;
}

.my-end-banner-btn-icon{
    background-color: #4160f5;
    border-radius: 5px;
    color: white;
    padding: 17px;
    display: flex;
    align-items: center;
}
